/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #71B385; /* Light, clean background color */
    color: #1F2D3D;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header Styling */
header {
	display: flex;
    background-color: #0F471E; /* Dark header for contrast */
    padding: 15px;
	text-align: center;
	color: white;
    border-bottom: 2px solid #2A3D51;
    margin-bottom: 40px;
}
header div {
	margin-left: 55px;
	margin-top: 5px;
	margin-right: 65px;
}
header img {
	padding: 3px;
	height: 80px;
	margin-bottom: 6px;
}
header h1 {
    color: #71B385; /* White text for readability */
    font-size: 2.5em;
	margin: 0px;
	margin-top: 10px;
    text-align: center;
	float: right;

}

/* Horizontal Navigation Bar Styling */
.horizontal-nav {
    background-color: #0F471E; /* Dark green background */
    padding: 10px 0;
    text-align: center;
    margin-top: 0;
}

.horizontal-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.horizontal-nav ul li {
    margin: 0 15px;
}

.horizontal-nav ul li a {
    text-decoration: none;
    color: #71B385;
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px 15px;
    border-radius: 8px;
}

.horizontal-nav ul li a:hover {
    background-color: #71B385; /* Slightly lighter green for hover */
    color: #FFFFFF;
}

/* Flexbox for Layout */
.containerIndex {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px; /* Increased space between elements */
    padding: 0 20px; /* More padding for breathing room */
}

/* Navigation Bar Styling */
nav ul {
    list-style: none;
    padding: 20px;
    margin: 0;
    background-color: #0F471E;
    border-radius: 10px;
}
nav ul li {
    padding: 10px 0;
}
nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    padding: 12px;
    border-radius: 8px;
}
nav ul li a:hover {
    background-color: #71B385;
    color: #FFFFFF;
}


/*Products Section*/
.products {
	 background-color: #D3F8DD;
	padding: 40px;
	border-radius: 12px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/*Ads Section */
.ads {
	 background-color: #D3F8DD;
	padding: 40px;
	border-radius: 12px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* Footer Styling */
footer {
    text-align: center;
    background-color: #0F471E;
    border-top: 2px solid #2A3D51;
    margin-top: 40px;
	color: white;
	padding: 30px;
}
footer a {
    color: #71B385;
    text-decoration: none;

}
footer a:hover{
    text-decoration: underline;
}

/* Better Readability */
h2 {
    margin-top: 0;
}

p {
    margin-bottom: 1.2em;
}